# For Usage
###############################################################################
requests==2.21.0          # https://pypi.org/project/requests/
rethinkdb==2.4.2.post1    # https://pypi.org/project/rethinkdb/
websockets==7.0           # https://pypi.org/project/websockets/

# For Debugging
###############################################################################
ipdb==0.11                # https://pypi.org/project/ipdb/

# For Python 3.3 or lower (in python 3)
###############################################################################
asyncio==3.4.3            # https://pypi.org/project/asyncio/

# For Tests
###############################################################################
flake8==3.6.0             # https://pypi.org/project/flake8/
pytest==4.5.0             # https://pypi.org/project/pytest/
pytest-asyncio==0.10.0    # https://pypi.org/project/pytest-asyncio/
pytest-cov==2.7.1         # https://pypi.org/project/pytest-cov/